# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore node_modules
SLEUTH/node_modules/
node_modules/

# Ignore logs
*.log

# Ignore macOS system files
.DS_Store

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore package lock and build files
package-lock.json

# Ignore compiled code and build artifacts
dist/
build/

# Ignore Python virtual environments
venv/
.env/

# Ignore test coverage files
coverage/
