# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore package lock and build files
package-lock.json

# Ignore compiled code and build artifacts
dist/
build/

# Ignore Python virtual environments
venv/
.env/

# Ignore test coverage files
coverage/
